* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    background-color: #f1f8ff;
    /* min-height: 100vh; */
}

header,
footer {
    background-color: rgb(190, 233, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header .logo {
    font-weight: 700;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-block: 1em;
}

.grid-container img {
    max-width: 15vh;
}

.filter-by {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    margin-bottom: 20px;;
}