* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px;
    background-color: #f1f8ff;
    /* min-height: 100vh; */
}

header,
footer {
    background-color: rgb(190, 233, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

header .logo {
    font-weight: 700;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 20px;
    padding-right: 20px;
    align-items: end;
    
}

.grid-container img {
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
    object-position: center;
    align-self: end;
}

.filter-by {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-bottom: 20px;
    ;
}


img {
    border-radius: 5px;
}

img:hover{
    cursor: pointer;
}