* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0px;
  background-color: #f1f8ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
  background-color: rgb(250, 248, 166);

  /* min-height: 100vh; */
}

header,
footer {
  background-color: rgb(247, 246, 206);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.logo img{
  width: 70px;
}

.header-links {
  display: flex;
  color: rgb(221, 132, 7);
  height: 100%;
  align-items: stretch;
}

.header-nav {
  list-style: none;
  display: flex;
  gap: 20px;
  height: 100%;
}

.header-nav li a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  height: 100%;
}

.header-nav li:not(:last-child) a {
  border-right: 2px solid #4e4d44;
}

.header-nav li a:hover {
  background-color: rgb(247, 244, 38);
  ;
  border-radius: 5px;
}

img {
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.canvas-container {
  position: relative;
  border: 2px solid #ddd;
  background-color: #fff;
  width: 60vw;
}

/* canvas {
  border: 1px solid black;
} */

.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

button,
a {
  padding: 8px 16px;
  font-size: 1em;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(247, 246, 206);
  color: rgb(221, 132, 7);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover,
.download-link:hover,
a :hover {
  background-color: rgb(247, 244, 38);
  transform: scale(1.05);
}

.download-link {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1em;
}


@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
  }

  .logo {
    width: auto;
    height: auto;

  }

  .canvas-container {
    width: 80vw;
  }

  header {
    flex-direction: column;
    align-items: flex-end;
    padding: 15px 20px;
    height: auto;
  }

  .header-links {
    width: 100%;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .logo{
    align-self: flex-start;
  }

  .header-nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: flex-end;
  }

  .header-nav li a {
    font-size: 1.5em;
    padding: 10px 15px;
  }

  .header-nav li:not(:last-child) a {
    border-right: none;
  }

  .editor {
    gap: 10px;
  }

  .textInput {
    width: 100%;
  }
}


.about-frame{
  display: flex;
  justify-content:center;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 15px;
  width: 80vw;
  color: rgb(221, 132, 7);
}

.about-img{
  width: 50%;
}